#root {
  max-width: 1280px;
  margin: 0 2rem;
  --border-radius: 5px;
  font-size: calc(1rem + 0.5vw);

  --Primary: #0c1512;
  --Secondary: #dedede;
  --Primary-Button: #1a2930;
  --Secondary-Button: #e3e3e3;
  --Accent: #f7ce40;
}



@media (min-width: 850px) {
  .posts {
    flex-basis: 80%;
    padding-left: 1rem;
  }

  .subreddits {
    flex-basis: 20%;
  }
}
